body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 20px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}