body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 40px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-action {
    margin: 1rem auto;
    width: 300px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}